body {
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin-top: 100px;
    background: linear-gradient(
        blue,
        aqua
    ) 0 100% no-repeat;
}

 #welcome {
    font-size: 56px;
 } 

 #keycode {
    display: block;
 } 

 #wrapper {
    display: inline-block;
    font-size: 30px;
 }

p {
   background-color: blue;
   color: aqua;
}

h3 {
   background-color: aqua;
   color: blue
}